<h3>{{ zone.name }} (#{{ zone.number }})</h3>
<p>
    [<a href="{{ url_for('vpool_bp.list_orphans', number=zone.number) }}">orphaned vms</a>
    | <a href="{{ url_for('zone_bp.discover', number=zone.number) }}">discover clusters</a>
    | <a href="{{ url_for('vpool_bp.list', number=zone.number) }}">virtual server pools</a>
    | <a href="{{ url_for('vpool_bp.vm_create', number=zone.number) }}">create VM</a>
    | <a href="{{ url_for('zone_bp.manage', number=zone.number) }}">edit</a>
    | <a href="{{ url_for('zone_bp.edit_template', number=zone.number) }}">template</a>
    | <a href="{{ url_for('zone_bp.edit_vars', number=zone.number) }}">variables</a>
    | <a href="{{ url_for('zone_bp.delete', number=zone.number) }}">delete</a>]
</p>
{% for cluster in zone.get_clusters() %}
    {% include "cluster_item.html" %}
{% endfor %}