CMDB=[
  APPLICATION="Test",
  SERVICE="BB Cloud" ]
CONTEXT=[
  DDNS_ANYCAST="193.109.81.156",
  DDNS_ZONE="altus.bblabs",
  DOMAIN="log82.altus.bblabs",
  FILES="$FILES_LOC/15_ddns.sh $FILES_LOC/20_ssh_keys.sh",
  HOSTNAME="{{ hostname }}",
  IP="$NIC[IP]",
  NETWORK="YES",
  PASSWORD="JDEkOUd0ZUg4ejkkRlIzcTkyZUxhbHZXYXAvVjlzNXl4Lg==",
  SSH_PUBLIC_KEY="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC9hkSroWEyGYkFDzAwW3GBcNRk6RD1HAr0Mf9J/BT9F/CiFOoXGu5cbPEXQ8jbcLXDiUzBMJVHsR4+uxjO10ey2Zg65xU+d5/xoKDJWpQFmpD0v9e7NPJMHr3AsJTwxsdQGmtR7Qc7SxRrTZwyNMsoBAftSwfPHO1jS1GMcwSlBDEXpxvO03O1nwuSnz9/YKW0phy4G0/q5RUr1uR/+0LvXDZA5ZF2P2TcGF1tMfCcnNLf7HopNp3wbAvRe5oueHv6zOIiUtakXNW8VVLcQ85pWkBy5v+nlD/yxavipiZpM6nx0P0cx7gu7UhAA73VQrDr1zH5LhpiZNNurKELCj+n",
  TSIG_FWD="UK-logging.altus.bblabs:R8oHlERhMPXKRzaO+p4EfQ==",
  TSIG_PTR="UK-in-addr.arpa:J6vY6bISHzyiE5etwN6akQ==" ]
CPU="{{ cpu }}"
DISK=[
  DRIVER="qcow2",
  IMAGE="{{ image }}" ]
FILES_LOC="http://orion-cli001/~dariens/context/dave-centos-7"
GRAPHICS=[
  LISTEN="0.0.0.0",
  TYPE="vnc" ]
MEMORY="{{ memory_megabytes }}"
NIC=[
  MODEL="virtio",
  NETWORK="Standard-NET-orn-svc01-RIMNET",
  NETWORK_UNAME="oneadmin" ]
OS=[
  ARCH="x86_64",
  BOOT="hd" ]
VCPU="{{ vcpu }}"
