{% extends "zone/view.html" %}
{% block page_title %}
    {{ super() }}
{% endblock %}

{% block menu %}
    {{ super() }}
{% endblock %}

{% block container %}
    <h3>Discover Clusters in Zone:</h3>
    {% if one_clusters|length > 0 %}
        <p>There are {{one_clusters|length}} ONE clusters(s) in {{ zone.name }}</p>
        {% for one_cluster in one_clusters %}
            <p>{{ one_cluster.name }} (ID={{ one_cluster.id }})</p>
        {% endfor %}
    {% else %}
        <h4>There are no discovered clusters</h4>
    {% endif %}
{% endblock %}