{% extends 'zone/view.html' %}
{% block page_title %}
    {{ super() }}
{% endblock %}
{% block menu %}
    {{ super() }}
{% endblock %}
{% block container %}
    <h3>Edit Template and Variables:</h3>
    <p>Use the below form to modify the base template for all clusters within the zone.</p>
    <div class="top-pad">
        <form
                method="POST"
                action="{{ url_for('zone_bp.edit_template', zone_number=zone.number) }}"
                role="form">
            {{ form.csrf_token }}
            <table width="100%">
                <tr>
                    <td width="60%">
                        <strong>Template:</strong>

                        <div>
                            <textarea name="template" class="textarea_vars" wrap="off">{{ zone.template }}</textarea>
                        </div>
                    </td>
                    <td>
                        <strong>Variables:</strong>

                        <div>
                            <textarea name="vars" class="textarea_vars" wrap="off">{{ zone.vars }}</textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <button type="submit" name="action" value="save" class="btn btn-default">Save</button>
            <button type="submit" name="action" value="cancel" class="btn btn-default">Cancel</button>
        </form>
    </div>
{% endblock %}