{% extends "base.html" %}
{%  block page_title %}
    <a href="{{ url_for('zone_bp.list') }}">Zones</a> / {{ zone.name }}
{% endblock %}
{% block menu %}
    <h3>Zone Actions:</h3>
    <ul>
        <li><a href="{{ url_for('zone_bp.discover', zone_number=zone.number) }}">Discover clusters</a></li>
        <li><a href="{{ url_for('zone_bp.manage', zone_number=zone.number) }}">Edit Zone Details</a></li>
        <li><a href="{{ url_for('zone_bp.edit_template', zone_number=zone.number) }}">Edit Template/Vars</a></li>
        <li><a href="{{ url_for('zone_bp.delete', zone_number=zone.number) }}">Delete</a></li>
    </ul>
    <h3>Clusters: </h3>
    <ul>
        {% for cluster in clusters %}
            <li><a href="{{ url_for('cluster_bp.view', zone_number=zone.number, cluster_id=cluster.id) }}">{{ cluster.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
{% block container %}
    <p>Select an action or a cluster from the menu...</p>
{% endblock %}