{% extends "base.html" %}
{% block container %}
    <h2>Zones</h2>
    {% if zones|length > 0 %}
        <p><span class="sub_title3">There are {{ zones|length }} zone(s)</span></p>
        <p>Configure a <a href="{{ url_for('zone_bp.manage') }}">new zone</a>.</p>
        <br />
        {% for zone in zones %}
            <p><span class="sub_title2">Zone {{ zone.number }} - {{ zone.name }} </span>
                [<a href="{{ url_for('zone_bp.discover', number=zone.number) }}">discover clusters</a>
                | <a href="{{ url_for('vpool_bp.vm_create', number=zone.number) }}">create VM</a>
                | <a href="{{ url_for('zone_bp.manage', number=zone.number) }}">edit</a>
                | <a href="{{ url_for('zone_bp.edit_template', number=zone.number) }}">template</a>
                | <a href="{{ url_for('zone_bp.edit_vars', number=zone.number) }}">variables</a>
                | <a href="{{ url_for('zone_bp.delete', number=zone.number) }}">delete</a>]
            </p>
            {% for cluster in zone.get_clusters() %}
                <ul>
                    <li><span class="sub_title3">{{ cluster.name }}</span>
                        [<a href="{{ url_for('cluster_bp.edit_template', zone_number=zone.number, cluster_id=cluster.id) }}">template</a>
                        | <a href="{{ url_for('cluster_bp.edit_vars', zone_number=zone.number, cluster_id=cluster.id) }}">variables</a>
                        | <a href="{{ url_for('vpool_bp.list_orphans', number=zone.number, cluster_id=cluster.id) }}">orphaned vms</a>
                        | <a href="{{ url_for('vpool_bp.list', zone_number=zone.number, cluster_id=cluster.id) }}">virtual server pools</a>]

                        <br />
                        {%  if cluster.get_pools()|length > 0 %}
                            <ul>
                                {% for pool in cluster.get_pools()  %}
                                    <li><a href="{{ url_for('vpool_bp.view_pool', pool_id=pool.id) }}">{{ pool.name }}</a></li>
                                {%  endfor %}
                            </ul>
                        {%  endif %}
                    </li>
                </ul>
            {% endfor %}
        {% endfor %}
    {% else %}
        <h4>There are no zones [<a href="{{ url_for('zone_bp.manage') }}">New Zone</a>]</h4>
    {% endif %}
{% endblock %}