{% extends "base.html" %}
{% block page_title %}
    <a href="{{ url_for('zone_bp.list') }}">Zones</a> /
    <a href="{{ url_for('zone_bp.view', zone_number=cluster.zone.number) }}">{{ cluster.zone.name }}</a> /
    {{ cluster.name }}
{% endblock %}
{% block menu %}
    <h3>Actions:</h3>
    <ul>
        <li><a href="{{ url_for('cluster_bp.edit_template', zone_number=cluster.zone.number, cluster_id=cluster.id) }}">Edit Template/Variables</a></li>
        <li><a href="{{ url_for('vpool_bp.assign_to_pool', zone_number=cluster.zone.number, cluster_id=cluster.id) }}">Assign VMs to Pools</a></li>
    </ul>
    <h3>Virtual Pools:</h3>
    <ul>
        {% for pool in cluster.get_pools() %}
            <li><a href="{{ url_for('vpool_bp.view_pool', pool_id=pool.id) }}">{{ pool.name }}</a></li>
        {% else %}
            <li><i>No pools</i></li>
        {% endfor %}
    </ul>
{% endblock %}
{% block container %}
    Select an action or a virtual pool from the menu
{% endblock %}