{% extends "cluster/view.html" %}

{% block page_title %}
    {{ super() }}
{% endblock %}

{% block menu %}
    {{ super() }}
{% endblock %}

{% block container %}
    <h3>Create a VM</h3>
    <br/>
    <form
            method="POST"
            action="{{ url_for('cluster_bp.vm_create', zone_number=cluster.zone.number, cluster_id=cluster.id) }}"
            role="form">
        {{ form.csrf_token }}
        <table>
            <tr>
                <td class="form-label">{{ form.hostname.label }}</td>
                <td>{{ form.hostname() }}</td>
                <td>
                    {% for error in form.errors.hostname %}
                        <span style="color: red;">{{ error }}</span><br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="form-label">{{ form.cpu.label }}</td>
                <td>{{ form.cpu() }}</td>
                <td>
                    {% for error in form.errors.cpu %}
                        <span style="color: red;">{{ error }}</span><br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="form-label">{{ form.vcpu.label }}</td>
                <td>{{ form.vcpu() }}</td>
                <td>
                    {% for error in form.errors.vcpu %}
                        <span style="color: red;">{{ error }}</span><br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="form-label">{{ form.memory_megabytes.label }}</td>
                <td>{{ form.memory_megabytes() }}</td>
                <td>
                    {% for error in form.errors.memory_megabytes %}
                        <span style="color: red;">{{ error }}</span><br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <button type="submit" name="action" value="cancel" class="btn btn-default">Cancel</button>
                    <button type="submit" name="action" value="create" class="btn btn-default">Create</button>
                </td>
            </tr>
        </table>
        <br />
        <h2>Template:</h2>
        <br />
        <pre>{{ vm_template }}</pre>
    </form>
{% endblock %}