SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://lifeguard:changeme@localhost/lifeguard'
WTF_CSRF_SECRET_KEY = 'changeme'
SECRET_KEY = 'changeme'
LDAP_ADMIN_GROUP = 'CN=TEAM,OU=UNIT,DC=COMPANY'
LDAP_USER_SEARCH_BASE = 'OU=USERS,DC=COMPANY'
LDAP_PROVIDER_URL = 'some.ldap.host'
LDAP_PROVIDER_PORT = 636
LDAP_PROTOCOL_VERSION = 3
LDAP_USER_SEARCH_FILTER = 'samAccountName'
LDAP_READER_USERNAME = 'reader'
LDAP_READER_PASSWORD = 'changeme'

JIRA_HOSTNAME = 'https://jira.company.com'
JIRA_USERNAME = 'username' 
JIRA_APPROVER_USERNAME = 'usernameapprover' 
JIRA_PASSWORD = 'changeme'
JIRA_APPROVER_PASSWORD = 'changeme'
JIRA_PROJECT = 'PROJ'
JIRA_CRQ_PROJECT = 'CRQ'
JIRA_TRANSITION_CRQ_PLANNING = 231
JIRA_TRANSITION_CRQ_PLANNED_CHANGE = 71
JIRA_TRANSITION_CRQ_APPROVE = 21
JIRA_TRANSITION_TASK_RESOLVE = 91
JIRA_TRANSITION_TASK_PLANNING = 81
JIRA_TRANSITION_TASK_WRITTEN = 11
JIRA_TRANSITION_TASK_APPROVED = 31
JIRA_TRANSITION_TASK_CANCELLED = 111
JIRA_TRANSITION_TASK_START = 51
JIRA_TRANSITION_TASK_REJECTED = 21

CM_TZ = 'US/Eastern'
CM_DEADLINE_HOUR = 9
CM_DEADLINE_MIN = 30
CM_SAME_DAY_START_HOUR = 15
CM_DEADLINE_MISSED_DELAY_HOURS = 24
CM_DEADLINE_MISSED_START_HOUR = 9
CM_WINDOW_LEN_HOURS = 8

