body {
    height: 100%;
    margin: 0;
    padding-top: 50px;
}

.data-cell {
    padding-right: 10px;
}

.r {
    text-align: right;
}

.tabbed-pane {
    border: #ddd solid 1px;
    border-top: none;
    padding: 15px;

}

.select_style {
    width: 250px;
}

.form-label {
    padding-right: 15px;
    vertical-align: top;
}

.textarea_vars {
    height: 500px;
    width: 300px;
    wrap-option: soft;
}
