body {
    height: 100%;
    margin: 0;
    padding-top: 50px;
}

.data-cell {
    padding-right: 10px;
}

.r {
    text-align: right;
}

.tabbed-pane {
    border: #ddd solid 1px;
    border-top: none;
    padding: 15px;

}

.select_style {
    width: 250px;
}

.form-label {
    padding-right: 15px;
    vertical-align: top;
}

.textarea_vars {
    height: 800px;
    width: 100%;
}

.sub_title3 {
    font-size: 18px;
}

.sub_title2 {
    font-size: 24px;
}

.h3, h3 {
    margin-top: 0;
    padding-top: 0;
}

.tight {
    margin-top: 0;
    padding-top: 0;
}

.menu-panel {
    background-color: #fefefe;
    padding-top: 20px;
}

.title-panel {
    background-color: #fefefe;
    border-bottom: 1px solid #cccccc;
}

.content-panel {
    border-left: 1px solid #cccccc;
    background-color: #fefefe;
    padding-top: 20px;
}
