body {
    height: 100%;
    margin: 0;
    padding-top: 50px;
}

.data-cell {
    padding-right: 10px;
}

.r {
    text-align: right;
}

.tabbed-pane {
    border: #ddd solid 1px;
    border-top: none;
    padding: 15px;

}