{% extends 'vpool/view.html' %}
{% block page_title %}
    {{ super() }}
{% endblock %}
{% block menu %}
    {{ super() }}
{% endblock %}
{% block container %}
    <form
            method="POST"
            action="{{ url_for('vpool_bp.edit', pool_id=pool.id) }}"
            role="form">
        {{ form.csrf_token }}
        <h3>Edit Pool: {{ pool.name }}</h3>
        <br />
        <table>
            <tr>
                <td class="form-label">
                    {{ form.name.label }}:
                </td>
                <td>
                    {{ form.name() }}
                    {% for error in form.errors.name %}
                        <span style="color: red;">{{ error }}</span><br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="form-label">
                    {{ form.cardinality.label }}:
                </td>
                <td>
                    {{ form.cardinality() }}
                    {% for error in form.errors.cardinality %}
                        <span style="color: red;">{{ error }}</span><br/>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td width="60%">
                    <strong>Template:</strong>
                    <div>
                        <textarea name="template" class="textarea_vars" wrap="off">{{ pool.template }}</textarea>
                    </div>
                </td>
                <td>
                    <strong>Variables:</strong>
                    <div>
                        <textarea name="vars" class="textarea_vars" wrap="off">{{ pool.vars }}</textarea>
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit" name="action" value="save" class="btn btn-default">Save</button>
        <button type="submit" name="action" value="cancel" class="btn btn-default">Cancel</button>
    </form>
{% endblock %}