{% extends "vpool/view.html" %}
{% block page_title %}
    {{ super() }}
{% endblock %}

{% block menu %}
    {{ super() }}
{% endblock %}

{% block container %}
    <h3>Confirm Expand:</h3>
    <form
            method="POST"
            action="{{ url_for('vpool_bp.expand', pool_id=pool.id) }}"
            role="form">
        {{ form.csrf_token }}
        <p>Are you sure you want to expand pool {{ pool.name }}?</p>
        <p>The highlighted hostnames will be instantiated to expand the pool to it's cardinality:</p>

        {% for number in numbers %}
            {%  if number in member_vms_by_num %}
                <p class="lowlight">{{ member_vms_by_num[number].name }}</p>
            {% elif number in new_names_by_num %}
                <p><strong>{{ new_names_by_num[number] }}</strong></p>
            {% else %}
                <p>ERROR: number {{ number }} not found in member list or new names list!</p>
            {% endif %}

        {% endfor %}

        <button type="submit" name="action" value="confirm" class="btn btn-default">Confirm</button> &nbsp;
        <button type="submit" name="action" value="cancel" class="btn btn-default">Cancel</button>
    </form>
{% endblock %}