{% extends "vpool/view.html" %}
{% block page_title %}
    {{ super() }}
{% endblock %}

{% block menu %}
    {{ super() }}
{% endblock %}

{% block container %}
    <h3>Confirm Expand:</h3>
    <form
            method="POST"
            action="{{ url_for('vpool_bp.expand', pool_id=pool.id) }}"
            role="form">
        {{ form.csrf_token }}
        <p>Are you sure you want to expand pool {{ pool.name }}?</p>
        <p>The highlighted hostnames will be instantiated to expand the pool to it's cardinality:</p>

        <ul>
        {% for name in expansion_names %}
            <input type="hidden" name="expansion_names" value="{{ name }}" />
            <li><strong>{{ name }}</strong></li>
        {% endfor %}
        </ul>
        <button type="submit" name="action" value="confirm" class="btn btn-default">Confirm</button> &nbsp;
        <button type="submit" name="action" value="cancel" class="btn btn-default">Cancel</button>
    </form>
{% endblock %}