{% extends "base.html" %}

{% block page_title %}
    <a href="{{ url_for('zone_bp.list') }}">Zones</a>
    / <a href="{{ url_for('zone_bp.view', zone_number=pool.zone_number) }}">{{ pool.cluster.zone.name }}</a>
    / <a href="{{ url_for('cluster_bp.view', zone_number=pool.zone_number, cluster_id=pool.cluster_id) }}">{{ pool.cluster.name }}</a>
    / {{ pool.name }}
{% endblock %}

{% block menu %}
    <h3>Pool Actions</h3>
    <ul>
        <li><a href="{{ url_for('vpool_bp.edit_template', pool_id=pool.id) }}">Edit Template/Vars</a></li>

    </ul>
    {{ super() }}
{% endblock %}

{% block container %}
    <h3>Pool Member List: </h3>
{% if pool.get_memberships()|length > 0 %}
    <form
            method="POST"
            action="{{ url_for('vpool_bp.view_pool', pool_id=pool.id) }}"
            role="form">
    <table id="vm_list">
        <tr class="rom_row">
            <th class="data-cell">
                <input type="checkbox" id="vm_all" onclick="tbl_toggle_checkboxes(this,
                        'vm_list',
                        'counted',
                        'count_selected_vms')"/>
                <label for="vm_all"></label>
            </th>
            <th class="data-cell">ID</th>
            <th class="data-cell">Name</th>
            <th class="data-cell">Cluster</th>
            <th class="data-cell">State</th>
            <th class="data-cell">CPU</th>
            <th class="data-cell">MEM</th>
            <th class="data-cell">IP Address</th>
        </tr>
        {% for membership in pool.get_memberships() %}
            <tr id="row_vm_id_{{ membership.vm_id }}">
                <td>
                    <input class="counted" name="chk_vm_id" type="checkbox"
                           value="{{ membership.vm_id }}" id="chk_vm_id_{{ membership.vm_id }}">
                </td>
                {% if membership.vm_id in vms_by_id %}
                    <td class="data-cell">{{ membership.vm_id }}</td>
                    <td id="vm_id_{{ membership.vm_id }}" class="data-cell filterable">{{ vms_by_id[membership.vm_id].name }}</td>
                    <td class="data-cell">{{ vms_by_id[membership.vm_id].disk_cluster.name }}</td>
                    <td class="data-cell">{{ vms_by_id[membership.vm_id].state_desc() }}</td>
                    <td class="data-cell">{{ vms_by_id[membership.vm_id].cpu }}</td>
                    <td class="data-cell">{{ vms_by_id[membership.vm_id].memory_gb() }}</td>
                    <td class="data-cell">{{ vms_by_id[membership.vm_id].ip_address }}</td>
                {% else %}
                    <td colspan="7">WARNING: VM ID {{ membership.vm_id }} not found in cluster {{ pool.cluster.name }}!</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>This virtual pool does not contain any VMs!</p>
    <br/>
    <p>You can add VMs in {{ pool.cluster.zone.name }}
        <a href="{{ url_for('vpool_bp.assign_to_pool', zone_number=pool.cluster.zone.number, cluster_id=pool.cluster.id) }}">here</a></p>
{% endif %}
{% endblock %}