{% extends 'zones.html' %}
{% block container %}
    <h3>Create Zone:</h3>
    <div class="top-pad">
        <form
                method="POST"
                action="{{ url_for('zones.create') }}"
                role="form">
            {{ form.csrf_token }}
            <div class="form-group">{{ form.name.label }}: {{ form.name() }}</div>
            <div class="form-group">{{ form.zone_num.label }}: {{ form.zone_num() }}</div>
            <div class="form-group">{{ form.xmlrpc_uri.label }}: {{ form.xmlrpc_uri() }}</div>
            <div class="form-group">{{ form.session_string.label }}: {{ form.session_string() }}</div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}