{% extends "base.html" %}
{% block container %}
<h2><a href="{{ url_for('zone_bp.list') }}">Zones</a> / {{ zone.name }} {{ vms|length }} virtual machines(s)</h2>
<form
        method="POST"
        action="{{ url_for('zone_bp.view', zone_id=zone.id) }}"
        role="form">
    {{ form.csrf_token }}
    <button type="submit" class="btn btn-default" name="action" value="sub">Submit</button>
    <br />
    <div><input id="vm_name_filter" class="vm-name-filter"/> Filter
    </div>
    <script>
        $("#vm_name_filter").on("change paste keyup keydown", row_filter('vm_name_filter', 'vm_list', 'filterable'));
    </script>
    <br />
    <table id="vm_list">
        <tr class="rom_row">
            <th class="data-cell"><input type="checkbox" id="vm_all" /><label for="vm_all"></label></th>
            <th class="data-cell">ID</th>
            <th class="data-cell">Name</th>
            <th class="data-cell">State</th>
            <th class="data-cell">CPU</th>
            <th class="data-cell">MEM</th>
            <th class="data-cell">IP Address</th>
        </tr>
        {% for vm in vms %}
            <tr id="row_vm_id_{{ vm.id }}">
                <td><input type="checkbox" id="chk_vm_id_{{ vm.id }}" /></td>
                <td class="data-cell">{{ vm.id }}</td>
                <td id="vm_id_{{ vm.id }}" class="data-cell filterable">{{ vm.name }}</td>
                <td class="data-cell">{{ vm.state_desc() }}</td>
                <td class="data-cell">{{ vm.cpu }}</td>
                <td class="data-cell">{{ vm.memory_gb() }}</td>
                <td class="data-cell">{{ vm.ip_address }}</td>
            </tr>
        {% else %}
            <tr>
                <td>There are no VMs found within this zone</td>
            </tr>
        {% endfor %}
    </table>

</form>
{% endblock %}